
pre.line-numbers
	code.language-javascript.
		module.exports = {
			info: [
				'Name: test',
				'Version: 1.0',
				'Designed by: ',
				'Website: '
			],

			fonts: [
				'fontawesome',
				// 'pe-icon',
				// 'elegant-font'
				// 'linea'
			],

			vendors: [
				'jquery/jquery.js',
				'jquery.easing/jquery.easing.js',
				'boostrap/grid.css',
				'owl.carousel/owl.carousel.js',
				'owl.carousel/owl.carousel.css',
				'easy-pie-chart/easypiechart.js',
				'imagesloaded/imagesloaded.pkgd.js',
				'odometer/odometer.js',
				'odometer/odometer-theme-default.css',
				'masonry-layout/masonry.pkgd.js',
				'isotope-layout/isotope.pkgd.js',
				'theia-sticky-sidebar/theia-sticky-sidebar.js',
				'swiper/swiper.jquery.js',
				'swiper/swiper.css',
				'jquery.appear/jquery.appear.js',
			],

			appJs: [
				'isMobile.js',
				'wil-carousel.js',
				'wil-menu.js',
				// 'overflowText.js',
				// 'imageCover.js',
				// 'wilParallax.js',
				// 'boxToggle.js',
				// 'debounce.js',
				// 'formItemPlaceholder.js',
			]

		}
